* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* ***********************************************  Page 1  *********************************************** */

#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.overlay1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
}
.loader {
  width: 35px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  padding: 3px 5px;
  border-top: 1px solid #bbb6aa;
  border-bottom: 4px solid #bbb6aa;
  background: linear-gradient(#612329 0 0) bottom no-repeat content-box, #e4e0d7;
  mix-blend-mode: darken;
  animation: l1 1.5s infinite linear;
}
.loader:before {
  content: '';
  position: absolute;
  inset: -18px calc(50% - 2px) 8px;
  background: #eb6b3e;
  transform-origin: bottom;
  transform: rotate(8deg);
}
@keyframes l1 {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 5%;
  }
}
#navbar {
  width: 100%;
  padding: 10px;
  background-color: #f8f8f8;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.container {
  cursor: pointer;
  position: absolute;
  right: 1%;
  width: 30px;
  height: 20px;
}
.bars {
  width: 30px;
  height: 4px;
  background: #006241;
}
.bars::before,
.bars::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #006241;
}
.bars::before {
  margin-top: 9px;
}
.bars::after {
  margin-top: 18px;
}
.nav1 {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #006241;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -100%;
  top: 0;
}
.logo-img {
  width: 50px;
  height: 40px;
  object-fit: contain;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 10px;
}
.nav1 ul {
  list-style: none;
}
.nav1 ul li {
  margin: 50px 0;
}
.nav1 ul li a {
  color: #fafafa;
  font-size: 2em;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}
.nav1 ul li a:after {
  content: '';
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}
.nav1 ul li a:hover:after {
  transform: scaleX(1);
}
.nav1 .close {
  cursor: pointer;
  opacity: 0;
  transition: all ease-in-out 0.4s;
  pointer-events: none;
}
.close:hover {
  color: rgb(209, 3, 3);
}
.nav1 h2 {
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 1.5em;
}
.nav1 .close div::before,
.nav1 .close div::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.5s ease;
}
.nav1 .close div::before {
  transform: rotate(-45deg);
}
.nav1 .close div::after {
  transform: rotate(45deg);
}
.nav1 .close:hover div::before,
.nav1 .close:hover div::after {
  background: rgb(209, 3, 3);
}

/* ***********************************************  Page 2  *********************************************** */

#page2 {
  width: 100%;
  height: 100vh;
  background-color: salmon;
}

/* ***********************************************  Mobile View  *********************************************** */

@media screen and (max-width: 768px) {
  .container {
    cursor: pointer;
    position: absolute;
    right: 3%;
    width: 30px;
    height: 20px;
  }
}
